body {
    background-color: gray;
}

#timer{
    float: right;
    margin-right: 20px;
    color: gold;
}

#quiz {
    display: block;
    width: 75%;
    margin: auto; 
    background-color: white;
    
}

h1 {
    
    color: gold;
    
}

#Answer{
    color: gold;
}

p1 {
    color: purple;
    
}

p2 {
    color: gold;
  
}

p3 {
    color: purple;
    
}

p4 {
    color: gold;
    
}

p5 {
    color: purple;
    text-align: center;
}

#start-quiz {
    display: block;
    max-width: 300px;
    margin: auto; 
    background-color: purple;
    color: gold
}

.HideStartButton {
    display: none;
}

#view-highscore {
    background-color: purple;
    color: gold;
}

h2 {
    color: gold;
}

#ChoiceOne, #ChoiceTwo, #ChoiceThree, #ChoiceFour {
    background-color: purple;
    color: gold;
}