body {
    background-color: gray;
}

#timer{
    float: right;
    margin-right: 20px;
}

#quiz {
    display: block;
    max-width: 300px;
    margin: auto; 
    
}

h1 {
    
    color: gold;
    
}

p1 {
    color: purple;
    
}

p2 {
    color: gold;
  
}

p3 {
    color: purple;
    
}

p4 {
    color: gold;
    
}

p5 {
    color: purple;
    text-align: center;
}

#start-quiz {
    display: block;
    max-width: 300px;
    margin: auto; 
}

.HideStartButton {
    display: none;
}