body {
    background-color: gray;
}

#timer{
    float: right;
    margin-right: 20px;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
}

#quiz {
    display: block;
    width: 60%;
    margin: auto; 
    background-color: white;
    
}

h1 {
    
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    
}

#AnswerMessage{
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
}

p1, p3, p5 {
    color: purple;
    font-size: large; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p2, p4 {
    color: gold;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


#start-quiz {
    display: block;
    max-width: 300px;
    margin: auto; 
    background-color: purple;
    color: gold;
    font-family: Arial, Helvetica, sans-serif
}

.HideStartButton {
    display: none;
}

#view-highscore {
    background-color: purple;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
}

#ChoiceOne, #ChoiceTwo, #ChoiceThree, #ChoiceFour {
    background-color: purple;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 320px) and (max-width: 480px) {
    
}

@media (min-width: 768px) and (max-width: 1024px) {
  
}